<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user_example/style.css' %}" />
    <title>Удачи</title>
</head>
<body>
    <h1>Спасибо за регистрацию!</h1>
    <h2>Узнать своё задание вы можете перейдя по ссылке с вашим номером группы</h2>
<li><a href="roboti">10706117</a></li>
<li><a href="avtom1">10703117</a></li>
<li><a href="avtom2">10703217</a></li>
</body>
</html>